@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', Arial;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: linear-gradient(90deg, #5a48cc 0%, #37059f 100%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-content: center;
}

#calculator {
  display: grid;
  background-color: #1e1e1e;
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
  border-radius: 8px;
  border: 2px solid darkgray;
  overflow: hidden;
  grid-template-rows: 2rem 5.5rem 10rem 10rem 10rem 10rem 10rem;
  grid-template-columns: 10rem 10rem 10rem 10rem;
  grid-template-areas:
    'Ans Ans Ans Ans'
    'Ds Ds Ds Ds'
    'Add S M D'
    'Sev Eig Nin C'
    'Fou Fiv Six C'
    'One Two Thr Equ'
    'Zer Zer Dec Equ';
}

#ans {
  grid-area: Ans;
  font-size: 2rem;
  text-align: end;
  color: orange;
}

#display {
  grid-area: Ds;
  font-size: 4rem;
  text-align: end;
  color: green;
}

#clear {
  grid-area: C;
  font-size: 2rem;
}

#divide {
  grid-area: D;
  font-size: 2rem;
}

#multiply {
  grid-area: M;
  font-size: 2rem;
}

#seven {
  grid-area: Sev;
  font-size: 2rem;
}

#eight {
  grid-area: Eig;
  font-size: 2rem;
}

#nine {
  grid-area: Nin;
  font-size: 2rem;
}

#subtract {
  grid-area: S;
  font-size: 2rem;
}

#four {
  grid-area: Fou;
  font-size: 2rem;
}

#five {
  grid-area: Fiv;
  font-size: 2rem;
}

#six {
  grid-area: Six;
  font-size: 2rem;
}

#add {
  grid-area: Add;
  font-size: 2rem;
}

#one {
  grid-area: One;
  font-size: 2rem;
}

#two {
  grid-area: Two;
  font-size: 2rem;
}

#three {
  grid-area: Thr;
  font-size: 2rem;
}

#equals {
  grid-area: Equ;
  font-size: 2rem;
}

#zero {
  grid-area: Zer;
  font-size: 2rem;
}

#decimal {
  grid-area: Dec;
  font-size: 2rem;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
  #calculator {
    grid-template-rows: 2rem 5.5rem 10rem 10rem 10rem 10rem 10rem;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-areas:
      'Ans Ans Ans Ans'
      'Ds Ds Ds Ds'
      'Add S M D'
      'Sev Eig Nin C'
      'Fou Fiv Six C'
      'One Two Thr Equ'
      'Zer Zer Dec Equ';
  }
}

@media only screen and (min-height: 1px) and (max-height: 600px) {
  #calculator {
    grid-template-rows: 5vh 10vh 15vh 15vh 15vh 15vh 15vh;
    grid-template-columns: 19vw 19vw 19vw 19vw;
    grid-template-areas:
      'Ans Ans Ans Ans'
      'Ds Ds Ds Ds'
      'Add S M D'
      'Sev Eig Nin C'
      'Fou Fiv Six C'
      'One Two Thr Equ'
      'Zer Zer Dec Equ';
  }

  #display {
    font-size: 2rem;
  }

  #ans {
    font-size: 1.5rem;
  }
}
